@using BaseHA
@using BaseHA.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.InputTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

<a href="d:\company\baseha_test\baseha\baseha\views\_viewimports.cshtml">d:\company\baseha_test\baseha\baseha\views\_viewimports.cshtml</a>
@using Kendo.Mvc.UI
@using Newtonsoft.Json

@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Primitives
